includeConfig 'conf/lsf.conf'


workDir =    "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated/work"
tracedir = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated/trace"

Date now = new Date()
timestamp = now.format("yyyyMMdd-HH-mm-ss")

params {

    date = "2024-02-21"
    
    known_genes = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/1_Data/ddg2p/DDG2P_clinical_filter_2024-01-25.tsv"
    list_vcfs = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/3_Scripts/test/pre-clinical-filtering/nextflow-pipelines/out/publish/2024-02-20/list_annotated_and_dnm_vcfs.txt"
    list_probands = "/nfs/users/nfs_e/ed11/ddd_resources/2024-02-13/proband_stable"
    families_ped = "/nfs/ddd0/Data/datafreeze/ddd_data_releases/2024-02-13/family_relationships.ped"

    publish_dir = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated"

    post_cf {
        enabled = true

        id_mapping = "/nfs/ddd0/Data/datafreeze/ddd_data_releases/2024-02-13/decipher_stable_sanger_ega.txt"
        previous_gene_list = "/lustre/scratch125/humgen/projects/ddd/build38_clinical_filter/2023-07-27/ddg2p/DDG2P_clinical_filter_2023-07-27.tsv"
        decipher_variants_info = "/nfs/ddd0/Data/datafreeze/ddd_data_releases/2024-02-13/ddd_decipher_variants.tsv"
        b37_cf_results = "/lustre/scratch125/humgen/projects/ddd/build38_clinical_filter/build37_liftover/clin_filt.2020-08-10.concat_lifted_to_b38.tsv"
        b38_cf_previous_results = "/lustre/scratch125/humgen/projects/ddd/build38_clinical_filter/2023-07-27/clinical_filter_results_2023-07-27_CLIN_SIG.tsv"
    }

    useModules = true 
	bcftoolsModule = 'HGI/softpack/groups/hgi/bcftools1.20/1'
}

timeline {
    enabled = true
    file = "${tracedir}/${timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${tracedir}/${timestamp}_report.html"
}