includeConfig 'conf/lsf.conf'


workDir =    "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated/work"
tracedir = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated/trace"

Date now = new Date()
timestamp = now.format("yyyyMMdd-HH-mm-ss")

params {

    date = "2024-02-21"
    
    known_genes = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/1_Data/ddg2p/DDG2P_clinical_filter_2024-01-25.tsv"
    list_vcfs = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/3_Scripts/test/pre-clinical-filtering/nextflow-pipelines/out/publish/2024-02-20/list_annotated_and_dnm_vcfs.txt"
    list_probands = "/nfs/users/nfs_e/ed11/ddd_resources/2024-02-13/proband_stable"
    families_ped = "/nfs/ddd0/Data/datafreeze/ddd_data_releases/2024-02-13/family_relationships.ped"

    publish_dir = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v3/5_Work/clinical_filtering/test_integrated"
}

timeline {
    enabled = true
    file = "${tracedir}/${timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${tracedir}/${timestamp}_report.html"
}