includeConfig 'conf/lsf.conf'

workDir =    "${baseDir}/../../../5_Work/clinical_filtering/nextflow_workdir"
Date now = new Date()

params {

    date = "2023-07-27"
    //probands = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v2/5_Work/list_probands_cf_2023-07-02.tsv"
	//ped = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v2/5_Work/list_ped_cf_2023-07-02.tsv"
    
    ped_list = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v2/5_Work/list_individual_ped_cf_2023-07-27.tsv"
	//known_genes = "/nfs/users/nfs_e/ed11/lustre_ddd/JIRA_issues/DDD-82/5_Work/DDG2P_clinical_filter_211101.txt"
    known_genes = "/nfs/users/nfs_e/ed11/lustre_ddd/b38_v2/1_Data/ddg2p/DDG2P_clinical_filter_2023-07-27.tsv"

    publish_dir = "${baseDir}/../../../5_Work/clinical_filtering/publish_dir"
	tracedir = "${baseDir}/../../../5_Work/clinical_filtering/trace_dir"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}